@import "./settings.css";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(76, 150, 196);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.container__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

label {
  margin-right: 20px;
}

.description,
textarea {
  margin-bottom: 10px;
}

.invalid {
  display: none
}

input:valid {
  box-shadow: 0 0 10px rgb(0, 128, 0);
}

input:invalid {
  box-shadow: 0 0 10px rgb(255, 0, 0);
}

input:invalid + .invalid {
  display: block;
}