* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	list-style-type: none;
}

.wrapper {
	max-width: 1605px;
	width: 100%;
	margin: 0 auto;
}

h2 {
	font-size: 27px;
	line-height: 40px;
	text-transform: uppercase;
	color: #2f2d2d;
}

.main-page {
	display: flex;
	max-height: 900px;
	min-height: 568px;
	height: 100vh;
	border-bottom: 1px solid #5d5a5a;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 20%;
	background-color: #5d5a5a;
}

.main-page .logo {
	margin-top: 30px;
	margin-left: 21px;
	cursor: pointer;
}

.main-page .logo .logo-icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: #3b64f5;
	transform: rotate(45deg);
	box-shadow: 5px -5px rgba(1, 1, 1, 0.2);
}

.main-page .logo h4 {
	display: inline-block;
	font-weight: 400;
	font-size: 15px;
	color: #fff;
	margin-left: 10px;
}

.main-page .logo .cube {
	font-weight: 700;
}

.main-page .logo-clone {
	display: none;
	margin-top: 24px;
	margin-left: 60px;
	cursor: pointer;
}

.main-page .logo-clone .logo-icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: #3b64f5;
	transform: rotate(45deg);
	box-shadow: 5px -5px rgba(1, 1, 1, 0.2);
}

.main-page .logo-clone h4 {
	display: inline-block;
	font-weight: 400;
	font-size: 15px;
	color: #fff;
	margin-left: 10px;
}

.main-page .logo-clone .cube {
	font-weight: 700;
}

.main-page .menu {
	margin-right: 48px;
	margin-left: 47px;
}

.main-page .menu ul {
	display: flex;
	flex-direction: column;
}

.main-page .menu ul li {
	margin-bottom: 25px;
	transition: 0.3s;
}

.main-page .menu ul li a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 15px;
	color: #fff;
}

.menu ul li:hover a,
.menu ul li a:focus {
	color: #3b64f5;
	border-bottom: 3px solid #3b64f5;
	transition: 0.3s;
}

.menu-clone {
	display: none;
}

.menu-clone ul {
	display: flex;
	flex-direction: column;
}

.menu-clone ul li {
	margin-bottom: 5%;
	transition: 0.3s;
}

.menu-clone ul li a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 15px;
	color: #fff;
}

.menu-clone ul li:hover a,
.menu-clone ul li a:focus {
	color: #3b64f5;
	border-bottom: 3px solid #3b64f5;
	transition: 0.3s;
}

.burger {
	display: none;
}

.main-page .phone-number h3 {
	font-weight: 500;
	font-size: 15px;
	margin-bottom: 13px;
	margin-left: 26px;
	color: #fff;
}

.main-page .phone-number-clone {
	display: none;
}

.main-page .main-content {
	width: 40%;
	position: relative;
}

.main-page .main-content .links {
	display: flex;
	justify-content: space-between;
	margin-left: 15%;
	width: 320px;
	margin-top: 30px;
}

.main-page .main-content .links a {
	text-decoration: none;
	color: #2f2d2d;
	font-weight: 500;
	font-size: 15px;
	border-bottom: 3px solid transparent;
}

.main-page .main-content .links a:hover,
.main-page .main-content .links a:focus {
	color: #3b64f5;
	border-bottom: 3px solid #3b64f5;
	transition: 0.3s;
}

.main-page .main-content .content {
	margin: 150px 100px 0 90px;
}

.main-page .main-content .content h1 {
	font-weight: 700;
	font-size: 36px;
	line-height: 50px;
	text-transform: uppercase;
	color: #2f2d2d;
	padding-bottom: 22px;
}

.main-page .main-content .content p {
	font-family: "Ubuntu", sans-serif;
	font-size: 17px;
	line-height: 24px;
	padding-bottom: 50px;
	color: #201f1f;
}

.main-page .main-content .content .butn {
	text-decoration: none;
	color: #fff;
	box-shadow: 5px 5px 20px rgba(78, 117, 255, 0.35);
	padding: 19px 74px;
	text-transform: uppercase;
	transition: 0.5s;
	font-weight: 700;
	font-size: 15px;
}

.main-page .main-content .content .butn:hover {
	box-shadow: 5px 5px 20px rgba(78, 117, 255, 1);
	transition: 0.5s;
}

.main-page .main-slider {
	width: 40%;
	height: 100%;
}

.owl-carousel .owl-stage {
	height: 100%;
}

.owl-carousel .owl-stage-outer {
	height: 100%;
}

.owl-carousel.owl-drag .owl-item {
	height: 100%;
}

.owl-carousel .owl-item img {
	height: 100%;
}

.our-history .promo {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.our-history .history {
	width: 317px;
	margin-left: 30px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.our-history .history .text {
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 21px;
	color: #2f2d2d;
	margin-top: 50px;
	margin-bottom: 7px;
}

.our-history .history .more {
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: #000;
	opacity: 0.8;
	cursor: pointer;
	margin-bottom: 37px;
	margin-top: 0;
}

.our-history .history .more:hover {
	opacity: 1;
}

.our-history .butn-group a {
	text-decoration: none;
	font-weight: 600;
	font-size: 15px;
	color: #6c6c6c;
	border-bottom: 1px solid rgba(47, 45, 45, 0.5);
	margin-right: 20px;
}

.our-history .butn-group a:hover,
.our-history .butn-group a:focus {
	color: #2f2d2d;
}

.our-history .promo .item {
	display: flex;
	width: 285px;
}

.our-history .promo .item-img {
	margin-right: 18px;
}

.our-history .promo .icon h4 {
	font-weight: 700;
	font-size: 17px;
	line-height: 25px;
	text-transform: uppercase;
	color: #2f2d2d;
	margin-bottom: 2px;
}

.our-history .promo .icon p {
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 21px;
	color: #2f2d2d;
}

.our-history .promo .office {
	width: 32%;
	position: relative;
}

.our-history .promo .office img {
	width: 100%;
}

.our-history .promo .office .office-img .img-text {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.74);
	bottom: 0;
}

.our-history .promo .office .office-img .img-text h3 {
	font-size: 14px;
	line-height: 21px;
	color: #2f2d2d;
	padding: 16px 43px;
}

.calculator {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.calculator .calc {
	width: 40%;
	background-color: #d4d4d4;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.calculator .calc .calc-frame {
	width: 300px;
	text-align: left;
}

.calculator .calc .calc-frame p {
	font-family: "Ubuntu", sans-serif;
	font-size: 15px;
	line-height: 17px;
	color: #2f2d2d;
	margin-bottom: 21px;
}

.calculator .calc .calc-frame .city-butn {
	display: flex;
	justify-content: space-between;
}

.calculator .calc .calc-frame .city-butn label.state/* , .calculator .calc .calc-frame button */ {
	background: inherit;
	color: #635f5f;
	font-family: "Ubuntu", sans-serif;
	font-size: 15px;
	line-height: 17px;
	font-weight: 300;
	padding: 7px 19px;
	border: 1px solid #635f5f;
	margin-bottom: 19px;
	outline: none;
}

.calculator .calc .calc-frame button {
	margin: 10px;
	/* height: 39px; */
	padding: 10px 20px;
}

.calculator .calc .calc-frame .city-butn input {
	/* display: none; */
}

input[type="checkbox"]:checked {
	padding: 20px;
	border: 2px solid;
}

.calculator .calc .calc-frame .city-butn label:active {
	color: red;
}

.calculator .calc .calc-frame .city-butn label:focus {
	color: red;
}

.btn-add {
	text-decoration: none;
	color: #fff;
	box-shadow: 5px 5px 20px rgba(78, 117, 255, 0.35);
	padding: 19px 74px;
	text-transform: uppercase;
	transition: 0.5s;
	font-weight: 700;
	font-size: 15px;
	display: block;
	margin: 0 auto;
	border-radius: 200px;
}

.calculator .calc .calc-frame button:active {
	border: 1px solid #2f2d2d;
	color: #2f2d2d;
}

.calculator .calc .calc-cube {
	width: 5px;
	height: 5px;
	background-color: #3b64f5;
	position: absolute;
	top: -3px;
	right: 49%;
}

.calculator .calc .floor,
.calculator .calc .square {
	display: flex;
	border-top: 1px solid #2f2d2d;
	justify-content: space-between;
	position: relative;
}

.calculator .calc .floor,
.calculator .calc .square select {
	width: 100%;
}

.calculator .calc .square .calc-cube {
	left: 35%;
}

.calculator .calc .floor p,
.calculator .calc .square p {
	margin-top: 10px;
	color: #000;
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	line-height: 17px;
}

.calculator .calc .floor p:nth-child(odd) {
	opacity: 0.6;
}

.calculator .calc .square p {
	opacity: 0.6;
}

.calculator .calc .square p:nth-child(2) {
	opacity: 1;
}

.calculator .calc .price {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.calculator .calc .price .butn {
	text-decoration: none;
	color: #fff;
	background-color: #3b64f5;
	box-shadow: 5px 5px 20px rgba(78, 117, 255, 0.35);
	padding: 14px 60px;
	border-radius: 200px;
	text-transform: uppercase;
	transition: 0.5s;
	font-weight: 700;
	font-size: 15px;
}

.calculator .calc .price .butn:hover {
	box-shadow: 5px 5px 20px rgba(78, 117, 255, 1);
}

.calculator .calc .price h4 {
	font-size: 15px;
	border-bottom: 1px solid #2f2d2d;
	padding-bottom: 14px;
}

.calculator .calc .clear-calc {
	margin-top: 60px;
	font-size: 12px;
	font-weight: 300;
	color: #5d5a5a;
	border-bottom: 1px solid #5d5a5a;
	display: inline-block;
	padding-bottom: 10px;
	cursor: pointer;
}

.calculator .calc h2 {
	margin-top: 60px;
	margin-bottom: 20px;
}

.calculator .calc-img {
	width: 59.7%;
}

.calculator .calc-img img {
	width: 100%;
	height: 100%;
}

.our-portfolio h2 {
	margin-top: 110px;
	margin-left: 100px;
}

.our-portfolio .gallery {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 50px;
}

.our-portfolio .gallery .gallery-img {
	width: 33%;
	margin-bottom: 5px;
}

.our-portfolio .gallery .gallery-img:nth-child(4) {
	width: 50%;
}

.our-portfolio .gallery .gallery-img:nth-child(5) {
	width: 49%;
}

.our-portfolio .gallery .gallery-img img {
	max-width: 100%;
	width: 100%;
	height: 100%;
}

.our-portfolio .butn {
	text-decoration: none;
	color: #fff;
	background-color: #3b64f5;
	box-shadow: 5px 5px 20px rgba(78, 117, 255, 0.35);
	padding: 14px 60px;
	border-radius: 200px;
	text-transform: uppercase;
	margin-left: 42%;
	font-weight: 700;
	font-size: 15px;
}

.our-portfolio .butn:hover {
	box-shadow: 5px 5px 20px rgba(78, 117, 255, 1);
	transition: 0.5s;
}

.slider {
	margin: 70px 0;
}

.slider .carousel-inner {
	padding: 0 20%;
}

.slider .media {
	border: 1px solid #f6f6f6;
	width: 50%;
	align-items: center;
	margin: 0 auto;
}

.slider .media-img1 {
	padding: 43px;
	margin-right: 10%;
	background-color: #f6f6f6;
}

.slider .media-img1 img {
	height: 50px;
}

.slider .media-body h4 {
	font-size: 30px;
	line-height: 44px;
	color: #2f2d2d;
	font-weight: 400;
}

.slider .media-body span {
	font-weight: 700;
}

.slider .media-body p {
	font-family: "Ubuntu", sans-serif;
	font-weight: 500;
	font-size: 15px;
	line-height: 21px;
	color: #2f2d2d;
	text-transform: uppercase;
}

.carousel-control-prev-icon {
	background-image: url(../img/arrow.svg);
	width: 35px;
	height: 35px;
}

.carousel-control-next-icon {
	background-image: url(../img/arrow.svg);
	transform: rotate(180deg);
	width: 35px;
	height: 35px;
}

.contacts {
	display: flex;
	margin-top: 100px;
}

.contacts .left-block {
	width: 50%;
	position: relative;
}

.contacts .left-block .img-block {
	height: 100%;
}

.contacts .left-block .img-block img {
	width: 100%;
	height: 100%;
	opacity: 0.2;
}

.contacts .left-block .content {
	position: absolute;
	top: 30px;
	left: 90px;
	width: 65%;
}

.contacts .left-block .content h4 {
	font-family: "Ubuntu", sans-serif;
	font-weight: 500;
	font-size: 17px;
	line-height: 25px;
	color: #2f2d2d;
	margin-bottom: 56px;
	margin-top: 27px;
}

.contacts .left-block .content h3 {
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 45px;
}

.contacts .left-block .butn {
	text-decoration: none;
	color: #fff;
	background-color: #3b64f5;
	box-shadow: 5px 5px 20px rgba(78, 117, 255, 0.35);
	padding: 14px 60px;
	border-radius: 200px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
}

.contacts .left-block .butn:hover {
	box-shadow: 5px 5px 20px rgba(78, 117, 255, 1);
	transition: 0.5s;
}

.contacts .right-block {
	width: 50%;
	position: relative;
	background-image: url(../img/map.png);
	background-size: cover;
	background-position-y: bottom;
}

.contacts .right-block .img-block {
	height: 100%;
}

.contacts .right-block .img-block img {
	height: 100%;
	width: 100%;
}

.contacts .right-block h2 {
	color: #f6f6f6;
	margin-bottom: 30px;
}

.contacts .right-block p {
	font-family: "Ubuntu", sans-serif;
	font-size: 20px;
	line-height: 23px;
}

.contacts .right-block .content-wrapper {
	position: absolute;
	top: 10%;
	left: 30%;
}

.contacts .right-block .content {
	display: flex;
	color: #f6f6f6;
	text-align: left;
}

.contacts .right-block .content .content-img {
	padding-right: 10px;
	height: 100%;
}

.contacts .right-block .content .geo {
	padding-right: 0;
}

.contacts .right-block .content .content-text {
	padding-left: 20px;
}

.contacts .right-block .content-wrapper .butn-white {
	text-decoration: none;
	color: #fff;
	padding: 14px 60px;
	border-radius: 200px;
	text-transform: uppercase;
	border: 1px solid #fff;
	font-weight: 700;
	font-size: 15px;
	background: rgba(0, 0, 0, 0);
}

.contacts .right-block .butn-white:hover {
	box-shadow: 5px 5px 20px rgba(255, 255, 255, 1);
	transition: 0.5s;
}

.contacts .right-block .content:nth-child(4) {
	margin-bottom: 40px;
}

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.footer {
	background: #262525;
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer .logo {
	cursor: pointer;
}

.footer .logo .logo-icon {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: #3b64f5;
	transform: rotate(45deg);
	box-shadow: 5px -5px rgba(1, 1, 1, 0.2);
}

.footer .logo h4 {
	display: inline-block;
	font-weight: 400;
	font-size: 15px;
	color: #fff;
	margin-left: 10px;
}

.footer .reserved h4 {
	font-weight: 700;
	font-size: 14px;
	color: #fff;
	opacity: 0.8;
}

.footer .menu ul {
	display: flex;
	justify-content: space-between;
}

.footer .menu ul li {
	margin-right: 10px;
}

.footer .menu ul li a {
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
}

.footer .menu ul li a:hover,
.footer .menu ul li a:focus {
	color: #3b64f5;
	border-bottom: 3px solid #3b64f5;
	transition: 0.3s;
}

.footer .phone h4 {
	font-weight: 700;
	font-size: 14px;
	color: #fff;
}

.footer .footer-butn .butn-white {
	text-decoration: none;
	color: #fff;
	padding: 14px 60px;
	border-radius: 200px;
	text-transform: uppercase;
	border: 1px solid #fff;
	font-weight: 700;
	font-size: 15px;
	background: rgba(0, 0, 0, 0);
}

.footer .footer-butn .butn-white:hover {
	box-shadow: 5px 5px 20px rgba(255, 255, 255, 1);
	transition: 0.5s;
}

.popup-design {
	z-index: 20;
	position: fixed;
	display: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	/* Making it beautiful */
}
.popup-design input[name="name"] {
	margin-top: 2rem;
}
.popup-design .file_upload {
	position: relative;
	overflow: hidden;
	font-size: 1em;
	/* example */

	height: 4em;
	/* example */

	line-height: 2em /* the same as height */;
}
.popup-design .file_upload > button {
	float: right;
	width: 8em;
	/* example */

	height: 100%;
}
.popup-design .file_upload > div {
	padding-left: 1em;
	/* example */
}
.popup-design .file_upload input[type="file"] {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transform: scale(20);
	letter-spacing: 10em;
	/* IE 9 fix */

	-ms-transform: scale(20);
	/* IE 9 fix */

	opacity: 0;
	cursor: pointer;
}
.popup-design .file_upload > button {
	transition: background 0.2s;
	border-radius: 50px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: transparent;
	font-size: 1.5rem;
	color: #000;
	border: 2px dashed #000;
	padding: 1.5rem;
}
.popup-design .file_upload > button:before {
	content: "";
	background: url("../img/camera.svg") no-repeat center;
	width: 1.6rem;
	height: 1.6rem;
	display: inline-block;
	position: relative;
	top: 3px;
	right: 2px;
	background-size: 100%;
}
.popup-design .form {
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.popup-design .form input,
.popup-design .form textarea {
	border: none;
	border-radius: 50px;
	background-color: #ffffff;
	padding: 1.5rem;
	margin-bottom: 1.5rem;
	width: 100%;
	color: inherit;
	resize: none;
}
.popup-design .form input::placeholder,
.popup-design .form textarea::placeholder {
	color: black;
	text-align: center;
	font-family: "Circe Bold", sans-serif;
}
.popup-design .button-order {
	width: 100%;
	margin-top: 1rem;
}
.popup-design h4 {
	margin-bottom: 3.5rem;
}
.popup-close {
	position: absolute;
	top: -5rem;
	right: -1.5rem;
	font-size: 5rem;
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
	text-align: center;
	background: transparent;
	color: #ffffff;
	border: none;
}
.popup-content {
	position: fixed;
	text-align: center;
	max-width: 35rem;
	left: 50%;
	top: 10%;
	background-color: #ededed;
	border-radius: 4px;
	transform: translateX(-50%) !important;
	padding: 3rem 6rem 4rem 6rem;
}
.status {
	text-align: center;
}
.popup-consultation {
	z-index: 20;
	position: fixed;
	display: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
.popup-consultation .button-transparent {
	border: 2px dashed #000;
	width: 100%;
	margin-bottom: 2rem;
}
.popup-consultation .form {
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.popup-consultation .form input,
.popup-consultation .form textarea {
	border: none;
	border-radius: 50px;
	background-color: #ffffff;
	padding: 1.5rem;
	margin-bottom: 2.5rem;
	width: 100%;
	color: inherit;
	resize: none;
}
.popup-consultation .form input::placeholder,
.popup-consultation .form textarea::placeholder {
	color: black;
	text-align: center;
	font-family: "Circe Bold", sans-serif;
}
.popup-consultation .button-order {
	width: 100%;
	margin-top: 1rem;
}
.popup-consultation h4 {
	margin-bottom: 3.5rem;
}
.popup-close {
	position: absolute;
	top: -5rem;
	right: -1.5rem;
	font-size: 5rem;
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
	text-align: center;
	background: transparent;
	color: #ffffff;
	border: none;
}
.popup-content {
	position: fixed;
	text-align: center;
	max-width: 35rem;
	left: 50%;
	top: 10%;
	background-color: #ededed;
	border-radius: 4px;
	transform: translateX(-50%) !important;
	padding: 4rem 6rem 5rem 6rem;
}
.popup-gift {
	z-index: 20;
	position: fixed;
	display: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
.popup-gift h2 {
	padding-bottom: 2rem;
}
.popup-gift img {
	display: block;
	margin: 0 auto;
}
.popup-gift p {
	margin-top: 2rem;
}
@media (max-width: 1399px) {
	.paints {
		display: none;
	}
	.calc .file_upload > div {
		display: none;
	}
	.calc .file_upload > button {
		width: 100%;
	}
	.popup-design .file_upload > div {
		display: none;
	}
	.popup-design .file_upload > button {
		width: 100%;
	}
	.main .file_upload > div {
		display: none;
	}
	.main .file_upload > button {
		width: 100%;
	}
}

@media (max-width: 1024px) {
	.wrapper {
		width: 95%;
	}
	header {
		position: fixed;
		z-index: 50;
		left: -500px;
		transition: 0.5s;
		height: 100%;
		width: 40%;
	}
	.main-page .logo-clone {
		display: block;
	}
	.main-page .logo-clone h4 {
		color: #141414;
	}
	.burger {
		display: inline-block;
		width: 30px;
		height: 30px;
		position: absolute;
		z-index: 50;
		right: 50px;
		top: 25px;
	}
	.burger i {
		display: block;
		width: 80%;
		height: 4px;
		margin: 3px;
		background-color: #2f2d2d;
		transition: 0.5s;
	}
	.menu-clone {
		position: absolute;
		text-align: center;
		right: 0;
		top: 64px;
		background-color: rgb(0, 0, 0);
		border-radius: 5px 0 0 5px;
		height: 210px;
		width: 100px;
		z-index: 2;
		opacity: 0.7;
	}
	.menu-clone ul {
		flex-direction: column;
		font-weight: bold;
	}
	.show {
		display: block;
	}
	.main-page .main-content {
		width: 40%;
	}
	.main-page .main-content .content {
		margin: 150px 10px 0 50px;
	}
	.main-page .main-content .links {
		display: none;
	}
	.main-page .main-slider {
		width: 60%;
	}
	.main-page .phone-number-clone {
		position: absolute;
		display: flex;
		z-index: 1;
		top: 25px;
	}

	.main-page .phone-number-clone h3 {
		font-weight: 500;
		font-size: 15px;
		margin-left: 26px;
		color: #171717;
	}
	.our-history .promo .icon {
		order: 1;
		width: 100%;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-bottom: 80px;
	}
	.our-history .promo .office {
		width: 60%;
	}
	.calculator .calc {
		order: 1;
		width: 100%;
		background-color: #fff;
	}
	.calculator .calc-img {
		width: 100%;
	}
	.our-portfolio .gallery .gallery-img {
		width: 100%;
	}
	.our-portfolio .gallery .gallery-img:first-child {
		order: -1;
		width: 49%;
	}
	.our-portfolio .gallery .gallery-img:nth-child(3) {
		order: -1;
		width: 49%;
	}
	.our-portfolio .gallery .gallery-img:nth-child(4) {
		width: 100%;
	}
	.our-portfolio .gallery .gallery-img:nth-child(5) {
		width: 100%;
	}
	.contacts {
		display: none;
	}
	.contacts .left-block .content h4 {
		margin-bottom: 40px;
	}
	.contacts .left-block .content h3 {
		margin-bottom: 35px;
	}
	.contacts .right-block h2 {
		margin-bottom: 20px;
	}
	.contacts .right-block .content:nth-child(4) {
		margin-bottom: 20px;
	}
	.footer .reserved h4 {
		font-size: 10px;
	}
	.footer .menu ul li a {
		font-size: 10px;
	}
}

@media (max-width: 900px) {
	.main-page .main-content .content {
		margin: 150px 10px 0 20px;
	}
	.main-page .main-content .content h1 {
		font-size: 30px;
	}
	.main-page .main-content .content p {
		font-size: 15px;
	}
	.main-page .main-content .content .butn {
		padding: 15px 60px;
	}
	.our-history .history {
		width: 100%;
		text-align: center;
		margin-left: 10px;
		margin-right: 10px;
	}
	.our-history .promo .office {
		width: 100%;
		margin-bottom: 30px;
	}
	.slider .media {
		width: 100%;
	}
}

@media (max-width: 600px) {
	.main-page .logo-clone {
		margin-left: 10px;
	}
	.burger {
		right: 30px;
	}
	.our-history .promo .item {
		width: 40%;
	}
	.our-portfolio .butn {
		margin-left: 35%;
	}
}

@media (max-width: 520px) {
	.main-page .main-content .content .butn {
		padding: 15px 40px;
	}
	.slider .media-img1 {
		margin-right: 5%;
	}
}

@media (max-width: 475px) {

	.burger {
		top: 11px;
	}
	.main-page .logo {
		margin-top: 10px;
		margin-left: 10px;
	}

	.main-page .logo-clone {
		margin-top: 10px;
	}
	
	.main-page .menu {
		margin-right: 0;
		margin-left: 20px;
	}

	.main-page .phone-number h3 {
		margin-left: 5px;
	}

	.main-page .main-content .content {
		margin: 50px 10px 0 10px;
	}
	.main-page .main-content .content h1 {
		font-size: 20px;
		line-height: 30px;
	}
	.main-page .main-content .content p {
		font-size: 12px;
	}
	.main-page .phone-number-clone h3 {
		font-size: 12px;
		margin-left: 20px;
	}
	.main-page .main-content .content .butn {
		padding: 10px 20px;
	}
	.owl-carousel .owl-item img {
		object-fit: cover;
	}
	.burger {
		right: 10px;
	}
	.our-portfolio .butn {
		margin-left: 25%;
	}
	.our-history .promo .icon h4 {
		font-size: 15px;
	}
	.our-history .promo .icon p {
		font-size: 12px;
	}
	.our-history .promo .item-img {
		width: 20%;
	}
	.slider .carousel-inner {
		padding: 0;
	}
}

@media (max-width: 370px) {
	.burger {
		right: 5px;
		width: 20px;
	}
	.main-page .logo-clone {
		margin-left: 5px;
	}
	.main-page .phone-number-clone h3 {
		font-size: 10px;
		margin-left: 10px;
	}
	.main-page .main-content .content .butn {
		padding: 10px 15px;
	}
	.our-portfolio h2 {
		margin-left: 50px;
	}
	.our-portfolio .butn {
		margin-left: 17%;
	}
	.footer .phone h4 {
		font-size: 8px;
	}
	.footer .menu ul li a {
		font-size: 8px;
	}
}
