$font-main: "Oswald", sans-serif;
$main-color: #3b64f5;

@mixin border-radius($radius) {
	border-radius: $radius;
	-ms-border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

$font-weights: (
	"regular": 400,
	"medium": 500,
	"bold": 700,
);

body {
	font-family: $font-main;
}

h2 {
	font-weight: map-get($font-weights, "bold");
}

.main-page {
	.main-content {
		.content {
			.butn {
				@include border-radius(200px);
				background-color: $main-color;
			}
		}
	}
}
