body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: beige;
}

.clock-container {
  position: relative;
  width: 500px;
  height: 500px;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(100, 149, 237);
  border-radius: 50%;
  border: 5px solid rgb(79, 16, 174);
  box-shadow: 0 0 20px rgba(0, 0, 0);
}

.hour-container {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 50px;
  height: 95%;
}

.hour {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-weight: 700;
  text-shadow: 0 0 5px hsl(219, 79%, 66%);
}

.center {
  width: 50px;
  height: 50px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.wr-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 100%;
}

.arrow {
  display: inline-block;
  background-color: #000;
  transition: 0.3s;
  margin-bottom: 180px;
}

.arrow-sec {
  width: 4px;
  height: 30%;
  border-radius: 2px;
}

.arrow-min {
  width: 8px;
  height: 30%;
  border-radius: 4px;
}

.arrow-hour {
  width: 12px;
  height: 30%;
  border-radius: 6px;
}
